@import "tailwindcss";

body {
  background: #fff;
  /* color: #000; */
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .hover5-start {
    @apply absolute left-1/2 top-1/2 flex items-center justify-center bg-black text-white rounded-full transition-all duration-300 ease-in-out;
    transform: translate(150%, -50%) rotate(360deg);
    width: 150px;
    height: 150px;
  }

  .hover6-start {
    @apply absolute left-1/2 top-1/2 flex items-center justify-center bg-black text-white rounded-full transition-all duration-300 ease-in-out;
    transform: translate(-250%, -50%) rotate(-360deg);
    width: 150px;
    height: 150px;
  }

  .hover-figure:hover img {
    opacity: 0.1;
  }

  .hover-figure:hover .hover5-start,
  .hover-figure:hover .hover6-start {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
